body {
  margin: 0;
  overflow: fixed; /* Prevent scrolling */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh; /* Use full viewport height */
}

#container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%; /* Adjust height as needed */
}

canvas {
  display: block;
 width: 100%;
 height: 100%;
}

#video {
  display: none;
}

main {
  position: fixed;
}

#text-overlay {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  color: white; /* Text color */
  font-size: 20px; /* Font size */
  z-index: 1; /* Ensure text is above the 3D scene */
}


