canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#video {
  display: none;
}

main {
  position: fixed;
}

#text-overlay {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  color: white; /* Text color */
  font-size: 20px; /* Font size */
  z-index: 1; /* Ensure text is above the 3D scene */
}
